form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.todo-input {
    font-size: 12px;
    color: #317773;
    width: 65%;
    padding: 4px 5px 4px 10px;
    border-radius: 5px;
    border: none;
}

.todo-input:focus {
    outline: none;
}

.add {
    font-size: 10px;
    padding: 0px 10px;
    cursor: pointer;
    color: #317773;
    background-color: #E2D1F9;
    border-radius: 3px;
    border: 3px solid #fff;
}